.container-service {
  padding: 19% 5% 2% 5%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 1)
    ),
    url("../../assets/service_back.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}

.arrow-img-service {
  width: 35%;
}

.width-45-service {
  width: 42%;
}

.text-services {
  font-size: 23px;
  line-height: 1.75rem;
}

.text-view {
  padding-top: 36px;
}

.bottom-white {
  border-bottom: 1px solid white;
}

.width-55 {
  width: 52.2%;
}

.text-title {
  color: #b6b6b6;
}

.text-title-2 {
  color: #ffffff;
}

.btn-learn {
  width: 22%;
  padding: 4px 14px;
  height: 38px;
  background-color: #fffe55;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  font-weight: 600;
  margin-top: 5px;
}

.arrow-learn {
  width: 50%;
}

.btn-arrow {
  display: flex;
  justify-content: flex-end;
}

.icon-plus,
.icon-minus {
  padding-top: 8px;
  font-size: 22px;
  margin-left: 8px;
}

.icon-minus {
  opacity: 0.5;
}

.img_app_custom {
  margin-top: 40px;
}

.width-43-custom {
  width: 43%;
}

.width-48 {
  width: 48%;
}

.width-70 {
  width: 70%;
}
.arrow-learn-2 {
  width: 50%;
}

.btn-learn-2 {
  width: 24%;
  padding: 4px 14px;
  height: 35px;
  background-color: #fffe55;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  font-weight: 600;
  margin-top: 10px;
}

.bottom-white-2 {
  border-bottom: 1px solid white;
  width: 83%;
}

.text-desc {
  font-size: 12px;
  line-height: 18px;
}

.btn-learn-3 {
  width: 140px;
  padding: 4px 14px;
  height: 36px;
  background-color: #fffe55;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  font-weight: 600;
  margin-top: 10px;
}

.icon-plus-3 {
  padding-top: 18px;
  font-size: 22px;
}

.width-78 {
  width: 70%;
}
